// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Hind:wght@300;400;500;600&family=Open+Sans:wght@300;400;500&family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

body {
  background-color: #818ce2;
}

.container #name {
        font-family: 'Barlow', sans-serif;
        font-size: 22px;
        color: white;
        font-weight: 500;
        margin-top: 10px;
  }

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white !important;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    margin: 7px;
    a {
      text-decoration: none;
      position: relative;
      color: white;
      transition: all 0.7s ease-out;
    }
    a:hover {
      color: white;
    }
    a:hover:before {
      transform: scaleX(1);
    }
    a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(255, 255, 255);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }
  }
  img {
    margin: 7px;
    border-radius: 50%;
    box-shadow: 8px 14px 22px #514f4fbd;
  }


  &.index {
    p {
    font-size: 22px;
    }
  }
}

.vignets {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.vignets {
    opacity: 0;

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.vignets.load {
    opacity: 1;
}


.pic-shake {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
    }

.hint {
  color: white;
  height: 30px;
}
.picture-size {
  width: 150px;
}
