<%# ---- Modal Code ---- %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Hi, I'm Lilas. Nice to meet you. 🤗</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
              <p>I've worked in fashion for 7 years and went through different jobs.
              <br/>
              Even if i was really passionate about what I was doing, I felt like i needed to get deeper into the tech world.  🚀
              <br/>
              While studying at Le Wagon, where I got my diploma, I fell in love with web programming. 💻 😎
              <br/>
              I now want to be a full-stack developer and maybe match it with my professional background. 🔥</p>
              <div class='pt-3 text-center'>
                <%= image_tag 'WagonLeeloo.JPG', height: 300, width: 210 %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# -------------------- %>
