.grid {
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr;
  grid-gap: 6px;
  // flex-grow: 1;
  height: 280px;
  a {
    text-decoration: none;
  }
}

.grid-portfolio {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  flex-grow: 1;
  height: 280px;
  a {
    text-decoration: none;
  }
}

.portfolio-card {
  font-family: 'Barlow', sans-serif;
  background-color: white;
  border-radius: 8px;
  color: #10065d;
  padding: 10px;
  margin: 10px;
  width: 352px;
  box-shadow: 5px 5px 15px #4a437999;
  h4 {
    font-family: 'Barlow', sans-serif;
  }
  img {
    border-radius: 5px;
  }
}

.contact-card {
  font-family: 'Barlow', sans-serif;
  background-color: white;
  border-radius: 8px;
  color: white;
  padding: 10px;
  margin: 10px;
  transition: all 1s ease;
  .text {
    font-family: 'Barlow', sans-serif;
  }
}

.contact-form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4a437999;
  text-align: center;
  color: #10065d;
  padding: 35px;
  h1, p {
    margin-bottom: 30px;
    font-family: 'Barlow', sans-serif;
  }

  .buttons {
    margin: 10px;
  }
}

@media(max-width: 768px) {
  .grid-portfolio {
    display: grid;
    grid-template-columns: 1fr;
  }
}
