.portfolio-card {
  font-family: 'Barlow', sans-serif;
  background-color: white;
  border-radius: 8px;
  color: #10065d;
  padding: 10px;
  margin: 10px;
  width: 380px;
  box-shadow: 8px 5px 15px rgba(122, 104, 240, 0.6);
  h4 {
    font-family: 'Barlow', sans-serif;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 6px;
  flex-grow: 1;
}
