.portfolio-card {
  font-family: 'Barlow', sans-serif;
  background-color: white;
  border-radius: 8px;
  color: #10065d;
  padding: 10px;
  margin: 10px;
  width: 352px;
  box-shadow: 5px 5px 15px #4a437999;
  h4 {
    font-family: 'Barlow', sans-serif;
  }
  img {
    border-radius: 5px;
  }
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  flex-grow: 1;
}
